<!DOCTYPE html>
<html>
<head>
    <title>ODS Widgets Sandbox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://opendatasoft.github.io/ods-widgets/dist/ods-widgets.css">
</head>
<body>
<div class="container-fluid" ng-app="ods-widgets">

    <ods-dataset-context
            context="test"
            test-domain="public"
            test-dataset="jep2015"
            test-parameters="{}">

        <div ng-repeat="j in items" ods-results="items" ods-results-context="test" ods-results-max="1">

            {{ j.fields.nom_jour }}

            <h4>
                Select fed by a facet + Auto refine on first value + ability to select anotherh value to update the
                refine
            </h4>
            <select ng-if="j"
                    ng-model="test.parameters['refine.region']"
                    ng-init="test.parameters['refine.region']=j.fields.region"
                    >
                <option
                        ng-repeat="item in items"
                        ng-selected="item.name == j.fields.region"
                        ods-facet-results="items"
                        ods-facet-results-context="test"
                        ods-facet-results-facet-name="region"
                        value="{{ item.name }}">
                    {{ item.name }}
                </option>
            </select>

            <h4>
                Facet to illustrate what is refined by the select
            </h4>
            <ods-facets ng-if="j" context="test">
                <ods-facet name="region" disjunctive="true"></ods-facet>
            </ods-facets>

        </div>
    </ods-dataset-context>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
<script type="text/javascript" src="https://opendatasoft.github.io/ods-widgets/dist/ods-widgets.js"></script>
</body>
</html>