<!DOCTYPE html>
<html>

<head>
    <%- include('includes-and-specifics/headers.ejs'); -%>
</head>

<body>

<div ng-cloak ng-app="ods-widgets">

    <%- include('ods-app.ejs'); -%>

</div>

<%- include('includes-and-specifics/subbody.ejs'); -%>

</body>

</html>